<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos 3Tec</title>

    <link rel="stylesheet" href="{{ url_for('static' , filename= 'css/style.css') }}">
</head>
<body>
    <header>
        <header class="header-container">
            <img class ="header-logo" src="{{ url_for('static' , filename= 'images/logo.png') }}">
    </header>
    
    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer></footer>
</body>
</html>